extends ./layouts/base

block content
	//  Carousel
	mixin carousel(item,active)
		div(class="item  #{active}")
			img(src= "#{item.img}",alt="#{item.alt}")
			.container
				.carousel-caption
					h1 #{item.title}
					p
						| #{item.desp}
					p
						a.btn.btn-large.btn-success(href="#{item.addr}", role="button") 我要去看


	#myCarousel.carousel.slide(data-ride="carousel")
		// Indicators
		ol.carousel-indicators
			li.active(data-target="#myCarousel", data-slide-to="0")
			li(data-target="#myCarousel", data-slide-to="1")
			li(data-target="#myCarousel", data-slide-to="2")
		//- .carousel-inner			
			//- +carousel(items[0],"active")
			//- +carousel(items[1])
			//- +carousel(items[2])
		a.left.carousel-control(href="#myCarousel", data-slide="prev")
			span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
			span.sr-only previous
		a.right.carousel-control(href="#myCarousel", data-slide="next")
			span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
			span.sr-only next
		

	//- .container.marketing
	//- 	.row
	//- 		each item in items
	//- 			.col-lg-4
	//- 				img.img-circle(src="#{item.img}", alt="#{item.alt}", height="140", width="140")
	//- 				h2 #{item.title}
	//- 				p
	//- 					| #{item.desp}
	//- 				p
	//- 					a.btn.btn-default(href="#{item.addr}", role="button") 查看详情 »
		//- // START THE FEATURETTES
		//- hr.featurette-divider
		//- .row.featurette
		//- 	.col-md-7
		//- 		h2.featurette-heading
		//- 			| First featurette heading.
		//- 			span.text-muted  It'll blow your mind.
		//- 		p.lead
		//- 			| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		//- 	.col-md-5
		//- 		img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
		//- hr.featurette-divider
		//- .row.featurette
		//- 	.col-md-5
		//- 		img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
		//- 	.col-md-7
		//- 		h2.featurette-heading
		//- 			| Oh yeah, it's that good.
		//- 			span.text-muted  See for yourself.
		//- 		p.lead
		//- 			| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		//- hr.featurette-divider
		//- .row.featurette
		//- 	.col-md-7
		//- 		h2.featurette-heading
		//- 			| And lastly, this one.
		//- 			span.text-muted  Checkmate.
		//- 		p.lead
		//- 			| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		//- 	.col-md-5
		//- 		img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
		//- hr.featurette-divider
		//- // /END THE FEATURETTES

		