extends ./layouts/base-front

block append css
	style.
		

block content
	//  Carousel
	mixin carousel(item,active)
		div(class="item  #{active}")
			img#topimg(src= "#{item._img}")
			.container
				.carousel-caption
					h1 #{item._title}
					p
						| #{item._summary}
					p
						a.btn.btn-large.btn-success(href="/list##{item._id}", role="button") 我要去看


	#myCarousel.carousel.slide(data-ride="carousel")
		//- Indicators
		ol.carousel-indicators
			li.active(data-target="#myCarousel", data-slide-to="0")
			li(data-target="#myCarousel", data-slide-to="1")
			li(data-target="#myCarousel", data-slide-to="2")
		.carousel-inner
			+carousel(movies[0],"active")
			+carousel(movies[1])
			+carousel(movies[2])
		a.left.carousel-control(href="#myCarousel", data-slide="prev")
			span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
			span.sr-only previous
		a.right.carousel-control(href="#myCarousel", data-slide="next")
			span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
			span.sr-only next

	.container.marketing
		.row
			each item in movies
				.col-lg-4
					img.img-circle(src="#{item._img}", height="140", width="140")
					h2 #{item._title}
					p
						| #{item._summary}
					p
						a.btn.btn-default(href="/list##{item._id}", role="button") 查看详情 »

		